/* .header{
    margin: 50px;
    margin-right: 500px;
    margin-left: 500px;
}

.title{
    background-color: rgb(231, 236, 237);
    margin: 15px;
}

.footer{
    margin: 50px;
    margin-left: 500px;
}  */
